@page "/accessdenied.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Pages/Shared/_Registation.cshtml";
}

<div class="row">
    <div class="text-center col-12 p-3">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <a asp-page="/Index" class="btn btn-primary">Back to homepage</a>
    </div>
</div>
