@page "/confirm-email/"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Pages/Shared/_Registation.cshtml";
}

@{
    var statusMessageClass = Model.StatusMessage.StartsWith("Error") ? "danger" : "success";
    <div class="card bg-@statusMessageClass text-white shadow m-2" role="alert">
        <div class="card-body text-center">
            @Model.StatusMessage
        </div>
    </div>

    <div class="d-flex justify-content-center m-2">
        <a asp-page="/Index" class="btn btn-secondary btn-icon-split">
            <span class="text">Go back to homepage</span>
        </a>
    </div>
}
