@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Registation.cshtml";
}
<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                <p id="external-login-description" class="text-info">
                    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                    Please enter an email address for this site below and click the Register button to finish
                    logging in.
                </p>
            </div>
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Email..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
