@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Pages/Shared/_Registation.cshtml";
}



<div class="card bg-success text-white shadow m-2" role="alert">
    <div class="card-body text-center">
        Please check your email to reset your password.
    </div>
</div>

<div class="d-flex justify-content-center m-2">
    <a asp-page="/Index" class="btn btn-secondary btn-icon-split">
        <span class="text">Go back to homepage</span>
    </a>
</div>