@page "/RegisterConfirmation/"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Pages/Shared/_Registation.cshtml";
}
<div class="card bg-primary text-white shadow m-2" role="alert">
    <div class="card-body text-center">
        Một email đã gửi đến cho bạn, bạn cần mở email làm theo hướng dẫn trong email sau đó
        <a class="text-white-50" href="@Model.UrlContinue">Bấm vào đây để tiếp tục</a>
    </div>
</div>

