@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Pages/Shared/_Registation.cshtml";
}

<div class="card bg-primary text-white shadow m-2" role="alert">
    <div class="card-body text-center">
        Your password has been reset. Please <a class="text-white-50" asp-page="./Login">click here to log in</a>.
    </div>
</div>

<div class="d-flex justify-content-center m-2">
    <a asp-page="/Index" class="btn btn-secondary btn-icon-split">
        <span class="text">Go back to homepage</span>
    </a>
</div>
