@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Pages/Shared/_Registation.cshtml";
}

<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Reset Your Password?</h1>
            </div>
            <form class="user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />

                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true"
                           placeholder="Enter Email Address..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true"
                           placeholder="Enter new Password..." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true"
                           placeholder="Repeat new Password..." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
