@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<div class="col-lg-12">
    <partial name="_StatusMessage" for="StatusMessage" />
    <!-- Change password card-->
    <div class="card mb-4">
        <div class="card-header">Change Email</div>
        <div class="card-body">



            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>


                @if (Model.IsEmailConfirmed)
                {
                    <div class="mb-3">
                        <label asp-for="Email" class="small mb-1"></label><span class="text-success font-weight-bold"> ✓</span>
                        <input asp-for="Email" class="form-control" disabled />
                    </div>
                }
                else
                {
                    <div class="mb-3">
                        <label asp-for="Email" class="small mb-1"></label>
                        <input asp-for="Email" class="form-control" disabled />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    </div>
                }

                <!-- Form Group (confirm password)-->
                <div class="mb-3">
                    <label asp-for="Input.NewEmail" class="small mb-1"></label>
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
